<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>

    <!-- CSS FILE -->
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h2>User Management System</h2>

    <div>
        <input type="text" id="name" placeholder="Enter name">
        <input type="email" id="email" placeholder="Enter email">
        <button onclick="addUser()">Add User</button>
    </div>

    <h3>Users List</h3>
    <ul id="userList"></ul>

    <!-- JS FILE -->
    <script src="/static/script.js"></script>
</body>
</html>
